body {
    font-family: "LatoWeb", sans-serif;
    font-weight: normal;
    line-height: 1.6;
    color: $primary;
}

.colored {
    &__primary {
        color: $primary;
    }

    &__secondary {
        color: $secondary;
    }

    &__success {
        color: $success;
    }

    &__info {
        color: $info;
    }

    &__warning {
        color: $warning;
    }

    &__danger {
        color: $danger;
    }

    &__light {
        color: $light;
    }

    &__dark {
        color: $dark;
    }

    &__blue {
        color: $blue;
    }

    &__indigo {
        color: $indigo;
    }

    &__purple {
        color: $purple;
    }

    &__pink {
        color: $pink; 
    }

    &__red {
        color: $red;
    }

    &__orange {
        color: $orange;
    }

    &__yellow {
        color: $yellow;
    }

    &__green {
        color: $green;
    }

    &__teal {
        color: $teal;
    }

    &__cyan {
        color: $cyan;
    }
}

.small-font {
    font-size: 2rem !important;
}

.green-background {
    background-image: linear-gradient(to bottom,rgba(25,172,134,.9) 0,rgba(25,172,134,.9) 100%),url(../img/free-trial-1.jpg);
    background-position: center bottom;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

table {
    
    border-collapse: collapse;
    border-spacing: 0;

    thead th {
        vertical-align: bottom;
    }
    
    td, th {
        padding: 1rem 2rem;
        border: 0.1rem solid $gray-300;
    }
    
    &.table-striped {
        background-color: transparent;
        
        tbody { 
            tr:nth-of-type(even) {
                background-color: $light;
            }
        }
    }
}