/*.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }
*/

.pt2 {
    padding-top: 2rem !important;
}

.pt4 {
    padding-top: 4rem !important;
}

.pt8 {
    padding-top: 8rem !important;
}

.pt12 {
    padding-top: 12rem !important;
}

.pb4 {
    padding-bottom: 4rem !important;
}

.pb8 {
    padding-bottom: 8rem !important;
}

.px4 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.py4 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.py8 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}

.py12 {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
}

.bg-gray-100 {
    background-color: $gray-100 !important;
}