.blog-component {

    .blog-thumbnail-wrapper {
        max-width: $bp-small;
        margin: 0 auto;
        margin-bottom: 4rem;

        .blog-thumbnail-component img {
            max-width: 100%;
            height: auto;
        }
    }

    .blog-header-wrapper {
        max-width: $bp-small;
        margin: 0 auto;

        .blog-header-component {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            flex: 1 1 auto;

            .title h1 {
                font-weight: 700;
                font-size: 5.2rem;
                line-height: 6.4rem;
                color: $primary;
                margin: 0 0 4rem;
                letter-spacing: -0.04rem;
            }

            .author-and-social {
                margin: 0 0 5.2rem;
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                align-items: flex-end;

                .author-wrapper {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;

                    .author-info {
                        display: flex;
                        flex-flow: column;
                        margin: 0.5rem 0 0 1.2rem;

                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                        color: $dark;

                        .author-name {
                            display: flex;
                            align-items: center;
                            margin: 0 0 0.8rem;
                        }
                    }

                    .author img {
                        border-radius: 5rem;
                        width: 5.8rem;
                        height: auto;
                    }
                }

                .social-wrapper {
                    display: flex;
                    flex-flow: row;

                    a {
                        width: 2.5rem;
                        height: auto;
                        margin-left: 2.4rem;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            transform: scale(1.2, 1.2);
                        }
                    }
                }
            }
        }
    }

    .blog-body-wrapper {
        max-width: $bp-medium;
        margin: 0 auto;

        p, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, pre, div.ub_table-of-contents {
            max-width: $bp-small;
            margin-left: auto;
            margin-right: auto;
        }

        h2 {
            font-weight: 700;
            font-size: 3rem;
            line-height: 3.6rem;
            margin-top: 5.2rem;
            margin-bottom: 2.6rem;
        }

        h3 {
            font-weight: 700;
            font-size: 2.6rem;
            line-height: 3.6rem;
            margin-top: 5.2rem;
            margin-bottom: 2.6rem;
        }

        h4 {
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 3.6rem;
            margin-top: 5.2rem;
            margin-bottom: 2.6rem;
        }

        h5 {
            font-weight: 700;
            font-size: 2.0rem;
            line-height: 3.6rem;
            margin-top: 5.2rem;
            margin-bottom: 2.6rem;
        }

        h6 {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 3.6rem;
            margin-top: 5.2rem;
            margin-bottom: 2.6rem;
        }

        pre {
            font-size: 1.8rem;
        }

        p, ul, ol, dl {
            font-style: normal;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 3rem;
            letter-spacing: 0;
            text-align: justify;
            margin-bottom: 2.6rem;

            li {
                margin-bottom: 0.3rem;
            }

            dd {
                padding-left: 2rem;
                margin-bottom: 1rem;
            }
        }

        dt {
            font-weight: 400;
        }

        ul, ol {
            padding-left: 2rem;
        }

        blockquote {
            padding: 0 0 0 2.1rem;
            margin-top: 5.2rem;
            margin-bottom: 5.2rem;
            position: relative;
            border-left: 0.8rem solid $success;
            height: auto;
            word-break: break-word;

            p {
                font-weight: 900;
                font-size: 1.8rem;
                line-height: 3.4rem;
                padding: 0;
                margin: 0;
            } 
        }

        a {
            color: $success;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .wp-block-table.max-width {
            max-width: $bp-medium;
        }

        .wp-block-embed, form {
            max-width: $bp-small;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2.6rem;
            display: flex;
            justify-content: center;
        }

        .wp-block-image {
            max-width: $bp-small;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2.6rem;

            img {
                max-width: inherit;

                @include respond(size-small) {
                    max-width: 100%;
                }
            }

            &.max-width {
                max-width: $bp-medium;

                img {
                    max-width: inherit;
                }
            }
        }

        .wp-block-table {
            max-width: $bp-small;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2.6rem; 

            table {
                max-width: inherit;

                @include respond(size-small) {
                    max-width: 100%;
                }

            }

            &.aligncenter table {
                margin-left: auto;
                margin-right: auto;        
            }

            &.max-width {
                max-width: $bp-medium;

                table {
                    max-width: inherit;
                }
            }

        }

        .wp-block-button {
            display: flex;
            justify-content: center;
            margin-top: 5.2rem;
            margin-bottom: 5.2rem;
           
            a {
                @include lumeerButton;
            }
        }

        .wp-block-yoast-faq-block {
            margin-bottom: 2.6rem;
            max-width: $bp-small;
            margin-left: auto;
            margin-right: auto;

            .schema-faq-section {
                margin-top: 5.2rem;
            }

            .schema-faq-question {
                display: block;
                font-weight: 700;
                font-size: 2.6rem;
                line-height: 3.6rem;
                margin-bottom: 2.6rem;    
            }
        }

        .wp-block-yoast-how-to-block {
            .schema-how-to-total-time, .schema-how-to-description, p, ul, ol {
                margin-bottom: 1.3rem;
            }
        }

        form {
            padding: 3rem;
            background-color: $light;
            margin-top: 5.2rem;
            margin-bottom: 2.6rem;
        }

        .post-link {
            width: 100%; 
            max-width: $bp-small; 
            border: 1px solid $gray-200; 
            padding: 2.5rem; 
            margin: auto; 
            margin-bottom: 2.6rem;

            h3 {
                margin-top: 0;

                a, a:hover {
                    color: $primary !important;
                }
            }

            .post-link-preview {
                display: flex;

                .post-image {
                    max-width: 16rem;

                    img {
                        width: 16rem;
                        height: auto;
                    }
                }

                .post-excerpt {
                    color: $dark;
                    margin-left: 2.6rem;
                }
            }

            .post-footer {
                margin-top: 2.6rem; 
                text-align: right;

                img {
                    height: 25px;
                    width: auto;
                }
            }
        }
    }
}