.customer-success-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .paragraph-and-asset-columns .top-line {
        box-sizing: content-box;
        flex-direction: column-reverse;
        justify-content: flex-end !important;
        
        @media screen and (min-width: $bp-medium) {
            width: 24rem;            
        }

        @include respond(size-small) {
            flex-direction: column-reverse !important;
        }

        @include respond(size-medium) {
            text-align: center;
            margin: 3.2rem auto;
            width: 100% !important;
        }

        .content-column, .asset-column {
            max-width: 100% !important;
        }

        .asset-column {
            margin-bottom: 3.2rem;
        }

        .paragraph-component .title .colorful-title {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }

    .asset-inner img {
        width: 100%;
        height: 100%;

        @media screen and (min-width: $bp-medium) {
            width: 20rem;            
        }


    }

}