.image-gallery-wrapper {
    .images-gallery {
        .images-gallery-row {
            .image-gallery {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                line-height: 0.7rem;

                &.clickable {
                    cursor: pointer;
                    transition: 0.2s all ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                &.shadow {
                    box-shadow: 0 0.2rem 1.6rem 0 rgba(0,0,0,0.2);

                    &:hover {
                        box-shadow: 0 0.6rem 2rem 0 rgba(0,0,0,0.2);
                    }
                }
            }
        }
    }
}

.images-gallery-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}