.board-views-component {
    .lottie-gallery-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2.4rem;

        .lottie-item-wrapper {
            max-width: 30rem;
            margin: 1.6rem;
            box-shadow: 0 0.8rem 1.6rem 0 rgba(0,0,0,0.1);
            border-radius: 0.8rem;
            transition: 0.2s all ease-in-out;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0.6rem 2rem 0 rgba(0,0,0,0.2);
            }

            a {
                display: block;
                text-decoration: none;
                color: $primary;
            }

            .lottie-component {
                img {
                    max-width: 30rem;
                    max-height: 20rem;
                }
            }

            .board-view-item-text {
                padding: 1.6rem;
                text-align: center;
            }

            .board-view-item-title {
                margin-bottom: 0.8rem;
                line-height: 2rem;

                @include respond(size-small) {
                    text-decoration: underline;

                    &:after {
                        font-size: small;
                        font-weight: 200;
                        padding-left: 0.5rem;
                        vertical-align: top;
                        content: '>';
                    }
                }
            }
        }
    }
}