.lumeer-component {

    .lumeer-wrapper {
        max-width: $bp-large;
        margin: 0 auto;
        margin-bottom: 4rem;
        box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.1);

        .lumeer-container {
            overflow: hidden;
            position: relative;
            width:100%;
            height: 70vh;
        }
    }
}