.outline-button {
    font-family: 'LatoWeb';
    font-weight: 800;

    a {
        transition: all 0.2s ease-in-out;
    }

    &.textual {
        a {
            display: block;
            padding: 1rem 0;
            font-size: 1.8rem;
            text-align: center;
            text-decoration: none;  
            color: $primary;   
            
            &:hover {
                color: $success;
            }
        }

        &.rounded {
            padding-top: 1rem;
            padding-bottom: 1rem;

            a {
                border-radius: 4rem;
                border: 0.2rem solid $white;
                padding: 0.8rem 2.4rem;
                box-shadow: 0 0.8rem 1.6rem 0 rgba(0,0,0,0.1);

                &:hover {
                    background-color: $white;
                    color: $success;
                    box-shadow: none;
                    transform: translate(0.2rem, 0.2rem);
                }
            }
        }
    }
    
    &.circled {
        height: 100%;
        display: flex;
        align-items: center;

        a, .signup-button-component {
            transition: all 0.2s ease-in-out;
            display: block;
            border: 1px $success solid;
            border-radius: 2.4rem;
            color: $white;
            background-color: $success;
            padding: 0.8rem 2.4rem;
            font-size: 1.8rem;
            text-align: center;
            text-decoration: none;
            line-height: 1.8rem;

            &.inverted {
                background-color: $white;
                color: $success;

                &:hover {
                    color: $white;
                    background-color: $success;        
                }
            }

            &:hover {
                background-color: $white;
                color: $success;
            }

            &.btn-large {
                padding: 1.6rem 4.8rem;
            }
        }
    }
}
