.top-bar {

    .top-bar-content {
        max-width: $bp-large;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        font-family: 'LatoWeb';
        font-weight: 800;
    }

    .top-bar-desktop-wrapper {

        display: inherit;

        @include respond(size-small) {
            display: none;
        }
    
        .top-bar-content {

            .top-header-link-wrapper {
                margin-left: 2.4rem;
                
                .top-bar-link {
                    transition: 0.2s ease all;

                    .content {
                        font-size: 1.6rem;
                    }
                }

                .flag {
                    margin-right: 2.4rem;

                    img {
                        height: 2.5rem;
                        filter: grayscale(0.4);
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                            filter: none;
                        }
                    }
                }
            }

            .top-header-login-link-wrapper {
                margin-left: 2.4rem;
                //margin-right: 2.4rem;
            }
        }
    }

    .top-bar-mobile-wrapper {
        display: none;

        @include respond(size-small) {
            display: block;
        }

    }

}