.video-component {

    .video-wrapper {
        max-width: $bp-small;
        margin: 0 auto;
        margin-bottom: 4rem;
        box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.1);

        .video-container {
            overflow: hidden;
            position: relative;
            width:100%;
        }
    }
}