nav.navbar {
    background-color: $white;
    position: fixed;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    padding: 1.2rem;
    z-index: $navbar-z-index;

    transition: all 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    .navbar-menu {
        display: flex;
        align-self: center;
    }
}

html:not([data-scroll='0']) {
    nav.navbar {
        padding: 0rem;
        box-shadow: 0 0 .5em rgba(0, 0, 0, .5);

        .top-bar-content {
            margin: 0.75rem auto;
        }
    }
    .side-menu-mobile {
        top: 5.8rem;
    }
}

.progress-container {
    width: 100%;
    height: 0.2rem;
    background: white;

    .progress-bar {
        height: 0.2rem;
        background: $success;
        width: 0%;
        }      
}

.hamburger-menu {
    width: 2.8rem;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 667;
    margin-left: 2.4rem;
    margin-right: 0.8rem;
    height: 3.6rem;
    display: flex;

    span {
        display: block;
        position: absolute;
        height: 0.3rem;
        width: 100%;
        background-color: #333;
        border-radius: 0.4rem;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: all 0.2s ease-in-out;

        &:nth-child(1) {
            top: 0.8rem;
        }

        &:nth-child(2), &:nth-child(3) {
            top: 1.7rem;
        }

        &:nth-child(4) {
            top: 2.6rem;
        }
    }

    &.open {
        span {
            background-color: #333;

            &:nth-child(1) {
                top: 1.8rem;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 1.8rem;
                width: 0%;
                left: 50%;
            }
        }
    }
}

.side-menu-mobile {
    width: 100vw;
    height: 0;
    position: absolute;
    top: 6.5rem;
    left: 0;
    display: flex;
    justify-content: center;
    transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out, height 0.2s ease;
    opacity: 0;
    z-index: -1;
    transform: translate(-100%);

    &.open {
        transform: translate(0);
        height: 100vh;
        opacity: 1;
        z-index: 0;

        .side-menu-mobile-dialog {
            opacity: 1;
        }
    }

    .side-menu-mobile-dialog {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $success;
        z-index: 1000;
        align-self: center;

        section.links-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;

            a {
                margin: 1rem 0;
                display: block;
                color: #fff;
                font-weight: 400;
                text-decoration: none;
                font-size: 2.7rem;
            }
        }

        .language-switch {
            img {
                height: 3.5rem;
            }
        }
    }
}

.navbar-padding {
    height: 6.5rem;
}