.segments {
    .base-layout-segment {

        &:not(.full-width) {
            @include respond(size-large) {
                padding: 0 2.4rem;
            }    
        }

        .segment-content-container {
            margin: auto;

            &:not(.full-width) {
                max-width: $bp-large;
            }
        }
    }
}